<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.helios.cctv.mapper.RegionMapper">
    <select id="getRegions" resultType="com.helios.cctv.dto.region.RegionDTO">
        SELECT * FROM regions
    </select>
</mapper>
